@model mvc_demo.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    .card-body > .card-text {
        height: 8rem;
        overflow: hidden;
    }

    .card-body > .card-text:after { content: '...' }
</style>
<div class="d-flex justify-content-around flex-wrap">
    @Html.DisplayFor(m => m.TextCards)
</div>