@using mvc_demo.core.Sentiments
@using mvc_demo.Models
@model Sentiment
<span class="badge badge-pill badge-@emotionToPillColor(Model.EmotionKind)">@Model.EmotionName</span>

@functions
{

    string emotionToPillColor(EmotionKind emotion)
    {
        switch (emotion)
        {
            case EmotionKind.Positive:
                return "success";
            case EmotionKind.Negative:
                return "danger";
            default:
                return "info";
        }
    }

}