@model mvc_demo.Models.TextCard

<div class="card m-2" style="width: 20rem">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            @Model.Title
        </h5>
        <div>
            @Html.DisplayFor(m => m.Sentiments)
        </div>
    </div>
    <div class="card-body" style="">
        <p class="card-text">
            @Model.Preview.Substring(0, 140)
        </p>
        <div class="d-flex flex-row-reverse">
            @Html.ActionLink("Read", MVC.Sentiment.Index(), new {@class = "card-link"})
        </div>
    </div>

</div>