@model mvc_demo.Models.IndexSentimentViewModel

@{
    ViewBag.Title = "title";
}

<div class="card m-2">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            @Model.Title
        </h5>

    </div>
    <div class="card-body">
        <p class="card-text">
            @Model.Text
        </p>

    </div>


</div>
@using (Html.BeginForm(MVC.Sentiment.Index(), FormMethod.Post, new {@class="form form-horizontal"}))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.EditorFor(m => m.SelectedSentiments)
    </div>
    <button type="submit" class="btn btn-primary">save</button>
}